<div class="artists table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instram Username</th>
        <th># of Pendants</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'artist', collection: @artists %>
    </tbody>
  </table>
</div>

<%= pie_chart @artists.group(:name).count %>
