<ul>
  <li>
    <a data-register-push-notifications href="#">Register for Push Notifications</a>
  </li>
  <li>
    <%= link_to 'Registed new U2F Authentication Device', new_my_u2f_registration_path %>
  </li>
</ul>
