<div class="pendant-record card text-center p-3 m-0">
  <%= image_tag pendant_record.photo.url, class: 'card-img-top img-fluid', data: { src: pendant_record.photo.url } if pendant_record.photo.present? %>
  <div class="card-body">
    <p class="card-text">Worn On: <%= pendant_record.worn_on.strftime('%A, %B %-d, %Y') %></p>
    <p class="card-text text-muted">Created at: <%= pendant_record.created_at.strftime('%A, %B %-d, %Y at %I:%M%p') %></p>
  </div>
</div>
