<%= link_to 'New Pendant', new_my_pendant_path %>
<div class="pendants table-responsive">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist Name</th>
          <th>Times Worn</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'pendant_table', collection: @pendants, as: :pendant %>
      </tbody>
    </table>
  </div>

  <figure class="figure pendants__chart">
    <figcaption class="figure-caption">Number of Times Worn by Pendant</figcaption>
    <%= pie_chart @chart_data %>
  </figure>
</div>
