<div class="pendants table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Artist Name</th>
        <th>Times Worn</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'pendant', collection: @pendants %>
    </tbody>
  </table>
</div>
