<div class="day">
  <h1>
    <%= hash[:day].strftime("%A") %>
  </h1>
  <p>
    <%= hash[:day].strftime("%b %d") %>
  </p>

  <div class="images">
    <%= render partial: 'last_week_in_pendants/pendant_record', collection: hash[:pendants], locals: { num_pendants: hash[:pendants].count } %>
  </div>
</div>
