<div class="pendant_record">
  <%= image_tag pendant_record.photo.photo.url(:thumb) %>
  <p>
    <%= pendant_record.pendant.name %> - <%= pendant_record.pendant.artist.name %>
  </p>
  <span class="created-at">
    <%= pendant_record.created_at %>
  </span>
</div>
