<div class="pendant-record">
  <%= image_tag pendant_record.photo.url(:thumb), class: '', data: { src: pendant_record.photo.url(:thumb) } if pendant_record.photo.present? %>
  <p class="pendant-name"><%= pendant_record.pendant.name %></p>
  <p class="pendant-artist"><%= pendant_record.pendant.artist.name %></p>
</div>
