<%= link_to 'Record Pendy', new_my_pendant_record_path, class: 'btn btn-primary btn-sm' %>

<div class="pendant_records card-columns">
  <%= render partial: 'pendant_record', collection: @pendant_records %>
</div>
