<%= link_to 'New Color', new_color_path %>
<div class="colors">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th># of Glass Art Pieces</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'color_row', collection: @colors, as: :color %>
      </tbody>
    </table>
  </div>
</div>
