// Place all the styles related to the dabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.take-a-dab {
  display: none;

  &.done {
    display: inline;
  }
}

.dab {
  display: flex;
  flex-direction: column;

  div {
    flex: 1 0 auto;
  }
}

#new_dab {

  .post-dab-form {
    display: none;

    .radio {
      margin: 0 15px;

      .radio_buttons {
        margin: 5px;
      }
    }

    input[type="submit"] {
      display: block;
    }
  }

  &.post-dab {
    .timer-form {
      display: none;
    }

    .post-dab-form {
      display: block;
    }
  }
}

.timer {
  text-align: center;

  .seconds {
    font-size: 80px;
  }
}
