.header__logo {
    height: 75px;
    width: 75px;
    margin-right: 10px;
    float: left;

    svg {
        @include transition(transform 0.8s ease);

        &:hover {
            @include transform(rotate(360deg));
        }
    }
}

.header__name {
    font-weight: 700;
    float: none;
}

.nav__right-side {
    float: right;
}
