.header {

  margin-bottom: 1rem;

  &__clicky {
    padding: 15px 0;
    text-align: center;
    line-height: 1em;
    font-size: 2rem;

    &::before {
      @include transition(all 0.8s ease);
      display: inline-block;
      font-family: FontAwesome;
      content: '\f102';

      .header--collapsed & {
        @include transform(rotate(180deg));
      }
    }
  }
}

.brand {
  position: relative;
  height: 125px;

  font-size: 0.8rem;

  .brand__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 37.5px);

    z-index: 1;

    width: 75px;
    height: 75px;

    a {
      display: block;
    }
  }

  .brand__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;

    text-align: center;
  }

  .brand__glassy {
    text-align: right;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
  }

  .brand__collections {
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
  }

  .brand__username {
    float: left;
  }

  .brand__log_out {
    float: right;
  }

  .header--collapsed & {
    height: 75px;

    .brand__logo {
      left: 50%;
    }

    .brand__glassy {
      position: absolute;
      top: 5px;
      right: calc(50% + 5px);
      font-size: 16px;
    }

    .brand__collections {
      position: absolute;
      top: 25px;
      right: calc(50% + 5px);
      font-size: 15px;
    }
  }
}

.nav {
  $border-color: rgb(178, 178, 178);
  $border-width: 1px;

  @include display(flex);

  opacity: 1;

  border-width: $border-width 0;
  border-style: solid;
  border-color: $border-color;

  max-height: 166px;

  overflow: hidden;

  flex-wrap: wrap;

  .header--collapsed & {
    opacity: 0;
    max-height: 0;
  }

  .nav-item {
    @include flex(0 0 50%);


    border-width: 0;
    border-bottom-width: $border-width;
    border-style: inherit;
    border-color: inherit;

    text-align: center;

    @include odd {
      border-right-width: $border-width;
    }

    @include last(2) {
      border-bottom-width: 0;
    }

    .nav-link {
      display: block;
      padding: 0.5rem 0;

      color: darken($border-color, 50%);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
