.month {
  text-align: center;
}

.next-link {
  float: right;
}

#pendant-list {
  .list {
    max-height: 200px;
    overflow: scroll;
  }
}

.new_pendant_record {

  input[type='submit'] {
    margin: 30px 0;
  }
}
