.month {
  text-align: center;
}

.next-link {
  float: right;
}

table.calendar {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;

  &, th, td {
    padding: 5px;
    border: 1px solid black;
  }

  th {
    text-align: center;
  }

  .day {
    &.disabled {
      background: $light-grey;

      * {
        display: none !important;
      }
    }


    height: 200px;
    width: calc(100%/7);
    position: relative;

    .day-number {
      position: absolute;
      top: 0;
      left: 0;

      padding: 5px;

      font-size: 1em;
      font-weight: bold;
    }

    .pendant-records {
      .pendant-record {
        text-align: center;
      }

      .pendant-name {
        font-weight: bold;
        margin-bottom: 0.2rem;
      }

      .pendant-artist {

      }

      img {
        display: inline-block;
      }
    }
  }
}