.pendants__chart {
  width: 100%;
}

#pendant {
  .pendant-records {
    @include make-row();
  }

  .pendant-record {
    @include media-breakpoint-up('sm') {
      max-width: calc(100% / 2);
    }
    @include media-breakpoint-up('md') {
      max-width: calc(100% / 3);
    }
    @include media-breakpoint-up('lg') {
      max-width: calc(100% / 4);
    }
    @include media-breakpoint-up('xl') {
      max-width: calc(100% / 5);
    }
  }
}
