<header class="header">
  <div class="header__brand brand">
    <div class="brand__username">
      coreyja@gmail.com
    </div>
    <div class="brand__logo">
      <%= link_to root_path do %>
        <%= raw_asset 'penguin-logo.svg' %>
      <% end %>
    </div>
    <div class="brand__log_out">
      <%= link_to 'Sign out', sign_out_path, method: :delete %>
    </div>
    <div class="brand__name">
      <span class="brand__glassy brand__glassy--kaushan">
        Glassy
      </span>
      <span class="brand__collections">
        Collections
      </span>
    </div>
  </div>
</header>
